@import 'CommonStyles/colors.scss';
@import 'CommonStyles/fonts.scss';
@import 'CommonStyles/grid.scss';
@import 'CommonStyles/animation.scss';

.LinkList {
  @extend .Row;
}

.LinkList__Header {
  @extend .Column-8;
  margin-bottom: 20px;
}

.LinkList__Body {
  @extend .Column-8;
}

.LinkList__Body__Header {
  @extend .Row;
  font-family: Roboto-Regular;
  font-size: $table-headings-size;
  color: $secondary-text-color;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.LinkList__Body__Header__Urls {
  @extend .Column;
  width: 443px;
}

.LinkList__Body__Header__Visits {
  @extend .Column;
  width: 80px;
  text-align: center;
}

.LinkList__Body__Header__LastVisited {
  @extend .Column;
  width: 114px;
  text-align: center;
}

.LinkList__Header__Title {
  font-size: $section-headings-size;
  display: inline-block;
}

.LinkList__Header__DeleteAll {
  color: $accent-color;
  text-decoration: none;
  padding-left: 22px;
}

.LinkList__Header__DeleteAll:hover {
  text-decoration: underline;
}


.Link-enter {
  @extend .animated;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.Link-enter.Link-enter-active {

}

.Link-leave {
  @extend .animated;
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

.Link-leave.Link-leave-active {
}
