$primary-text-color: #555555;
$secondary-text-color: #AAAAAA;
$unimportant-text-color: #CCCCCC;
$disabled-button-text-color: #BFBFBF;
$accent-color: #EB4A42;
$light-background-color: #EAEAEA;
$disabled-button-background-color: #E0E0E0;
$button-color: #FFFFFF;
