@font-face {
    font-family: Montserrat-Regular;
    src: url("~CommonStyles/fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
    font-family: Roboto-Light;
    src: url("~CommonStyles/fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: Roboto-Regular;
    src: url("~CommonStyles/fonts/Roboto/Roboto-Regular.ttf");
}

$logo-font-size: 47px;
$section-headings-size: 22px;
$normal-text-size: 16px;
$url-body-size: 16px;
$table-headings-size: 14px;
