@import 'CommonStyles/breakpoints.scss';

.Container {
  padding-right: 10px;
  padding-left: 10px;
  margin: 110px auto 0;
  max-width:640px;
  @include breakpoint($mobile) {
    margin-top: 20px;
  }
}

.Row {
  margin-left: -10px;
  margin-right: -10px;
}

.Row:after, .Row:before {
  display: table;
  content: " ";
  clear: both;
}

.Column {
  float:left;
  display: block;
  height: 100%;
  padding: 0 10px;
}

.Column-2 {
  @extend .Column;
  width: 25%;
}

.Column-4 {
  @extend .Column;
  width: 50%;
  @include breakpoint($mobile) {
    width:100%;
  }
}

.Column-6 {
  @extend .Column;
  width: 75%;
}

.Column-8 {
  @extend .Column;
  width: 100%;
}
