@import 'CommonStyles/colors.scss';
@import 'CommonStyles/fonts.scss';
@import 'CommonStyles/grid.scss';
@import 'CommonStyles/animation.scss';
@import 'CommonStyles/breakpoints.scss';
@import 'CommonStyles/animation.scss';
@import 'CommonStyles/mixins.scss';


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: $primary-text-color;
  font-family: Roboto-Light;
  font-size: $normal-text-size;
}

.Header {
  @extend .Row;
  margin-bottom: 53px;
  position: relative;
  padding-top: 35px;
  @include breakpoint($mobile) {
    padding-top: 0;
    margin-bottom: 20px;
  }
}

.Header__Logo {
  font-family: Montserrat-Regular;
  font-size: $logo-font-size;
  letter-spacing: -0.7px;
  color: $accent-color;
  margin: 0;
  line-height: 53px;
  position: absolute;
  bottom: 1px;
  @include breakpoint($mobile) {
    position: static;
  }
}

.Header__Tagline {
  font-size: $normal-text-size;
  color: $secondary-text-color;
  margin: 0;
  display: inline;
  line-height: 32px;
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
  right: 10px;
  @include breakpoint($mobile) {
    position: static;
  }
}

.LinkList-enter {
  @extend .animated;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.LinkList-enter.LinkList-enter-active {

}

.LinkList-leave {
  @extend .animated;
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

.LinkList-leave.LinkList-leave-active {
}

.Ribbon {
  background-color: $accent-color;
  overflow: hidden;
  white-space: nowrap;
  /* top left corner */
  position: absolute;
  left: -50px;
  top: 40px;
  @include transform(rotate(-45deg));
  @include box-shadow(0 0 10px #888);

  @include breakpoint($no-github-ribbon) {
      display: none;
  }
}

.Ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font-family: Roboto-Light;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
}
