@import 'CommonStyles/colors.scss';
@import 'CommonStyles/grid.scss';
@import 'CommonStyles/mixins.scss';
@import 'CommonStyles/breakpoints.scss';

.Link {
  @extend .Row;
  cursor: pointer;
  padding-bottom: 14px;
  padding-top: 14px;
  position: relative;
}

.Link-isError {
  cursor: default;
}

.Link-isCreating {
  cursor: default;
}

.Link__Highliter {
    position: absolute;
    height: 100%;
    border-left: 4px solid $accent-color;
    width: 1px;
    left: -11px;
    top: -1px;
    @include breakpoint($mobile) {
      left: 0;
    }
}

.Link__Urls {
  @extend .Column;
  width: 397px;
  @include breakpoint($mobile) {
    width: 100%;
  }
}

.Link__Visits {
  @extend .Column;
  width: 80px;
  text-align: center;
  display: inline-block;
  line-height: 50px;
  @include breakpoint($mobile) {
    display: inline;
    line-height: 1em;
    width: auto
  }
}

.Link__LastVisited {
  @extend .Column;
  width: 160px;
  text-align: center;
  display: inline-block;
  line-height: 50px;
  @include breakpoint($mobile) {
    display: inline;
    line-height: 1em;
    width: auto
  }
}
.Link__LastVisited_Helper, .Link__Visits__Helper {
  display: none;
  @include breakpoint($mobile) {
    display: inline;
  }
}

.Link__Shortcode {
  color: $accent-color;
}

.Link__Error {
  color: $accent-color;
}

.Link__Source {
  color: $unimportant-text-color;
  display: inline-block;
  line-height: 36px;
  white-space: nowrap;
}

.Link__Copy {
  opacity: 0;
  color: $accent-color;
  text-decoration: none;
  padding-left: 24px;
  @include transition(all .2s ease-in-out);
}

.Link.zeroclipboard-is-hover .Link__Copy {
  opacity: 1;
}
